/* static/styles.css */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

#grid-border {
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
    /* overflow: hidden; */
}

.grid-row {
    display: flex;
    /* flex-wrap: wrap;  */
    overflow: hidden;
}

.grid-cell {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    background-color: white;
}

.grid-cell.black {
    background-color: black;
}

#bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px auto;
}

#button-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#button-container button {
    width: 100px;
    height: 40px;
    background-color: #5c5a5a; /*#0056b3;*/ /* Blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#generation-label-container {
    display: flex;
    justify-content: center;
}

#generation-label {
    position: relative; 
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
}

#button-container button:hover {background-color: #979797 /*#007BFF*/} /* Lighter blue */

#button-container button:active {
  background-color: #424141; /* #0056b3;*/
}

@media (max-width: 1400px) 
    or (max-height: 860px) {
    .grid-cell {
        width: 20px;
        height: 20px;           
    }
}

@media (max-width: 1100px)
    or (max-height: 750px) {
    .grid-cell {
        width: 15px;
        height: 15px;           
    }
    #button-container button {
        width: 75px;
        height: 30px;     
        font-size: 16px;       
    }     
    #generation-label {
        font-size: 16px;
    }     
}

@media (max-width: 900px) 
    or (max-height: 720px) {
    .grid-cell {
        width: 10px;
        height: 10px;           
    }
}

/* add media query for landscape mode on iPad Pro 10" landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .grid-cell {
        width: 15px;
        height: 15px;       
    }   
    #button-container button {
        width: 75px;
        height: 30px;
        font-size: 16px;            
    }    
    #generation-label {
        font-size: 16px;
    }    
}

/* DEVICE SCREEN SIZE EXPERIMENTATION BELOW */

/* @media only screen and (max-width: 575.98px) {
    // CSS rules for extra small devices like small phones 
}
*/

/* CSS rules for small devices like phones  */
/* @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .grid-cell {
        width: 15px;
        height: 15px;       
    }   
    #button-container button {
        width: 75px;
        height: 30px;            
    }    
    #generation-label {
        font-size: 15px;
    }       
}     */

/* CSS rules for medium devices like tablets  */
/* @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .grid-cell {
        width: 15px;
        height: 15px;       
    }   
    #button-container button {
        width: 75px;
        height: 30px;            
    }    
    #generation-label {
        font-size: 15px;
    }       
} */
/*
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    // CSS rules for large devices like large tablets and small desktops 
    .grid-cell {
        width: 15px;
        height: 15px;       
    }   
    #button-container button {
        width: 75px;
        height: 30px;            
    }    
    #generation-label {
        font-size: 15px;
    }       
}
@media only screen and (min-width: 1200px) {
    // CSS rules for extra large devices like large desktops 
} */



