/* static/styles.css */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

#grid-border {
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
}

.grid-row {
    display: flex;
    overflow: hidden;
}

.grid-cell {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    background-color: white;
}

.grid-cell.black {
    background-color: black;
}

#bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px auto;
}

#session-id-container {
    display: flex;
    justify-content: center;
}

#session-id-label {
    position: relative; 
    display: block;
    visibility: hidden;
    text-align: left;
    font-size: 10px;
    margin: 0 auto;
}

#button-container {
    display: flex;
    justify-content: left;
    flex-grow: 1;
    margin-left: 15%;
}

#button-container button {
    width: 100px;
    height: 40px;
    background-color: #5c5a5a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#generation-label-container {
    display: flex;
    justify-content: center;
}

#generation-label {
    position: relative; 
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
}

#button-container button:hover {background-color: #979797} /* Light grey */

#button-container button:active {
  background-color: #424141; /* Dark Gray */
}

@media (max-width: 1400px) 
    or (max-height: 860px) {
    .grid-cell {
        width: 20px;
        height: 20px;           
    }
    #button-container {
        margin-left: 11%;
    } 
    #session-id-label {
        font-size: 10px;
    }          
}

@media (max-width: 1100px)
    or (max-height: 750px) {
    .grid-cell {
        width: 15px;
        height: 15px;           
    }
    #button-container {
        margin-left: 10%;
    }    
    #button-container button {
        width: 75px;
        height: 30px;     
        font-size: 16px;       
    }     
    #generation-label {
        font-size: 16px;
    }
    #session-id-label {
        font-size: 9px;
    }     
}

@media (max-width: 900px) 
    or (max-height: 720px) {
    .grid-cell {
        width: 10px;
        height: 10px;           
    }
    #button-container {
        margin-left: 10px;
    }
    #button-container button {
        width: 75px;
        height: 30px;     
        font-size: 14px;       
    }      
    #generation-label {
        font-size: 12px;
    }    
    #session-id-label {
        font-size: 8px;
    } 
}

/* media query for landscape mode on high-res tablets and phones */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .grid-cell {
        width: 15px;
        height: 15px;       
    }
    #button-container {
        margin-left: 9%;
    }       
    #button-container button {
        width: 75px;
        height: 30px;
        font-size: 16px;            
    }    
    #generation-label {
        font-size: 16px;
    }    
}

