/* static/styles.css */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

#grid-border {
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
    /* overflow: hidden; */
}

.grid-row {
    display: flex;
    /* flex-wrap: wrap;  */
    overflow: hidden;
}

.grid-cell {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    background-color: white;
}

.grid-cell.black {
    background-color: black;
}

#bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px auto;
}

#button-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#button-container button {
    width: 100px;
    height: 50px;
    background-color: #5c5a5a; /*#0056b3;*/ /* Blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#generation-label-container {
    display: flex;
    justify-content: center;
}

#generation-label {
    position: relative; 
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}

#button-container button:hover {background-color: #979797 /*#007BFF*/} /* Lighter blue */

#button-container button:active {
  background-color: #424141; /* #0056b3;*/
}

/* 
@media (min-width:320px)  { smartphones, iPhone, portrait 480x320 phones }
@media (min-width:481px)  { portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. }
@media (min-width:641px)  { portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones }
@media (min-width:961px)  { tablet, landscape iPad, lo-res laptops ands desktops
    .grid-cell {
        width: 20px;
        height: 20px;           
    }
}
@media (min-width:1025px) { big landscape tablets, laptops, and desktops 
    .grid-cell {
        width: 25px;
        height: 25px;           
    }
} 
@media (min-width:1281px) { hi-res laptops and desktops } */

@media (max-width: 1400px) 
    or (max-height: 860px) {
    .grid-cell {
        width: 20px;
        height: 20px;           
    }
}

@media (max-width: 1100px)
    or (max-height: 750px) {
    .grid-cell {
        width: 15px;
        height: 15px;           
    }
}

@media (max-width: 900px) 
    or (max-height: 720px) {
    .grid-cell {
        width: 10px;
        height: 10px;           
    }
}

/* @media only screen 
    and (min-device-width: 1536px) 
    and (max-device-width: 2048px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {

        .grid-cell {
                width: 2vw;
                height: 2vw;
        }

} */
