<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Game of Life</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="main-container">
        <div id="grid-container">
            <div id="grid-border">
                {% for _ in range(num_of_rows) %}
                    <div class="grid-row">
                        {% for _ in range(num_of_cols) %}
                            <div class="grid-cell"></div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="button-container">
            <button id="start-button">Start</button>
            <button id="clear-button">Clear</button>
            <p id="generation-label">Generation: 0</p>
            </div>
    </div>    
        
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

