<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Game of Life</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>
<body>
    <div id="main-container">
        <div id="grid-container">
            <div id="grid-border">
                {% for row in range(num_of_rows) %}
                    <div class="grid-row">
                        {% for col in range(num_of_cols) %}
                            <div class="grid-cell" id="cell-{{ row }}-{{ col }}"></div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="bottom-container">
            <div id="button-container">
                <button id="start-button">Start</button>
                <button id="clear-button">Clear</button>
            </div>

            <div id="generation-label-container">
                <p id="generation-label">Generation: 0</p>
            </div>
        </div>
    </div>    
        
    <script>
        const COLONY_NUMBER_OF_COLS = {{ num_of_cols }};
        console.log("The value of num_of_cols is {{ num_of_cols }}");
    </script>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>

